@font-face {
	
	src:url(..code/Fonts/COELCF__.TTF);
	font-family: CoelnischeCurrentFraktur;
}

h1 {
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	font-family: CoelnischeCurrentFraktur;
	/*border: 2px solid white;*/
}

body {
	background-color: #bf7171;
}

.hidden {
	display: none;
}

.leftColumn {
	margin-right: 0px;
	/*border: 2px solid white;*/
	float: left;
	margin-left: 130px;
	display: inline;
}

.rightColumn {
	float: left;
	/*border: 2px solid white;*/
	margin-top: 2px;
	margin-left: 250px;
	/*position: absolute;*/
	display: hidden;
}

td {
	padding: 3px;
	text-align: center;
}

table {
	/*border: 2px solid white;*/
	float: left;
	margin-top: 2px;
}

.alphabet {
	cursor: pointer;
	font-size: 15px;
	font-style: bold;
	margin-left: 15px;
	padding: 5px;
	/*border: 2px solid white;*/
	text-align: center;
	float: left;
}
#guessWord {
	cursor: pointer;
	margin-left: 100px;
	padding: 5px;
	font-size: 20px;
	font-style: bold;
	/*border: 2px solid white;*/
	text-align: center;
	display: inline-block;
	font-family: Helvetica;
	letter-spacing: 5px;
}

.letters {
	cursor: pointer;
	margin: 1px;
	padding: 1px;
	font-style: bold;
	display: inline-block;
	font-family: Helvetica;
}

footer {
	
	
}

.avatar {
	border-radius: 3px;
	display: inline-block;
	margin: 0px;
	text-align: center;
	padding: 5px;
	/*border: 2px solid white;*/
}

#avTable {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.choose {
	font-family: Helvetica;
	padding: 3px;
	margin: 3px;
	/*border: 2px solid white;*/
	text-align: center;
}

.avatar:hover {
	background-color: #bc3737;
	color: white;
}

.avatar.empty:hover {
	background-color: white;
}

#getWordButton {
	cursor: pointer;
	margin-left: 10px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 3px;
	text-align: center;
	border: 2px solid white;
	display: inline-block;
}

#winner {
	margin-left: 140px;
	position: center;
	width: 60%;
	right: 0px;
	border: 1pc solid white;
	border-radius: 5px;
}

#playAgain {
	margin-left: 370px;
	/*display: block;*/
	cursor: pointer;
	border-radius: 5px;
	padding: 3px;
	border: 2px solid white;
}






